<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" href="css/bootstrap.min.css" />
        <link type="text/css" href="css/bootstrap-timepicker.min.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
</head>



<div>
<br>



<form action="{{url_for('alarm') }}" method="post">
<center>
<button type="submit" style="width: 60%" class="btn btn-primary btn-lg btn-block" >Trigger Alarm</button></form></center>
<br>


<form action="{{url_for('snooze') }}" method="post">
<center>
<button type="submit" style="width: 60%" class="btn btn-primary btn-lg btn-block" >Snooze Alarm</button></form></center>
<br>


<form action="{{url_for('turnOff') }}" method="post">
<center>
<button type="submit" style="width: 60%" class="btn btn-primary btn-lg btn-block" >Force Refresh LCD</button></form></center>
<br>

<form action="{{url_for('turnOn') }}" method="post">
<center>

<div class="bootstrap-timepicker">
            <input id="timepicker5" type="text" class="input-small">
            <i class="icon-time"></i>
        </div>
 
        <script type="text/javascript">
            $('#timepicker5').timepicker({
                template: false,
                showInputs: false,
                minuteStep: 5
            });
        </script>

<button type="submit" style="width: 60%" class="btn btn-primary btn-lg btn-block" >Turn On LCD</button></form></center>
<br>

</div>